@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1>iSupport Software Feedback Database</h1>
        <p class="lead">Search for like, feedbacks, or something. I dunno.</p>
    </center>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Filter By:</h2>
        <ul>
            <li>Log Level</li>
            <li>Date</li>
            <li>Hash</li>
            <li>Version</li>
            <li>Serial Number</li>
        </ul>
    </div>

    <div class="col-md-4">
        @(Html.Kendo().DatePicker().Name("datepicker"))
    </div>
    

@*    <div class="col-md-4">
        @Html.ActionLink("Feedback Entry Info", "Index", "FeedbackEntryInfoes")
        <br><br><br>
        @Html.ActionLink("Muted Feedback Entries", "Index", "MutedFeedbackEntries")
    </div>
*@
    <div class="col-md-4">
        <img class="frontPageImage" src="https://pbs.twimg.com/profile_images/3281033278/7ca93e668e4a4397a2799d89bea8959e_400x400.png"></img>
    </div>
</div>

